-r requirements.txt

fastapi==0.103.1
httpx==0.24.1
mypy==1.4.1
pydantic==1.9.2
pytest==7.0.1
twine==3.8.0
types-setuptools==65.6.0.2
types-requests==2.28.11.4
types-ujson==5.5.0
types-dataclasses==0.6.6
